@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to right, #F060C1, #A34986);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(157, 56, 76, 0.513);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A39541;
    text-align: center;
    text-shadow: 1px 1px 0px;
}

h2{
    color: #0F3959;
    text-shadow: 1px 1px 0px, #071b2a9a;
}

p {
    text-align: justify;
}